@import "variables";
@import "mixins";

.offer {

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		width: calc(100% / 4);
		padding: 40px 40px 0;
		text-align: center;

		@include media(laptop) {
			width: calc(100% / 3);
		}

		@include media(tablets) {
			width: 50%;
		}

		@include media(phones) {
			padding: 30px 10px 0;
		}
	}

	&__icon {
		color: $pink;
		font-size: 70px;

		@include media(phones) {
			font-size: 45px;
		}
	}

	&__text {
		max-width: 187px;
		margin: 0 auto;

		@include media(phones) {
			font-size: 13px;
		}
	}
}