.overlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba($color: #000000, $alpha: .4);
	z-index: 100;
}

.modal {
	position: absolute;
	left: 50%;
	top: 50%;
	max-width: 650px;
	width: 100%;
	padding: 30px;
	transform: translate(-50%, -50%);
	background-color: #fff;
	z-index: 100;
}

// .form {

// 	&__group {
// 		margin-bottom: 15px;

// 		&.invalid {
// 		color: #dc3545;
		
// 			.form__control {
// 				border-color: #dc3545;
// 			}
					
// 		} 
// 	}

// 	&__control {
// 		width: 100%;
// 		height: 40px;
// 		padding: 8px;
// 		border: 1px solid black;
// 	}

// 	&__alert {
// 		padding: 15px;
// 		background-color: #dc3545;
// 		color: #fff;
// 	}
// }


