.navbar {
	padding: 25px;
	margin-bottom: 20px;
	background-color: #333;
	color: #fff;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__list {
		margin-left: auto;
		margin-right: 30px;
	}
	
	&__item {
		
		&.active {
			font-weight: bold;
		}
	}

	&__link {
		font-size: 18px;

		&::after {
			content: "";
			display: block;
			width: 0;
			height: 1px;
			background: #fff;
			transition: width .5s;
		}
		
		&:hover::after {
			width: 100%;
		}
	}
}
